###########################################################################################
#
# This file is an example for the configuration file, including computer-specific settings. 
# Please copy and rename it to TestConfig.ini and edit the system-specific settings. 
# Do not commit the renamed file to the repository as it contains system-specific settings.
#
###########################################################################################
[PQ9EGSE]
server = 127.0.0.1
port = 10000
timeout = 10

# Only use this parameter if you test the Software Update Service.
# Please use the following format so json.loads() can be used
BinaryFiles = {"OBC": "OBC_FlightSoftware_Hash_SlotNumber.bin", "EPS": "EPS_FlightSoftware_Hash_SlotNumber.bin"}
